{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12 text-center">
        <h2 class="sin-margin">
               Sus claves fueron actualizadas con éxito
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    {% endblock %}