{% extends 'base.html.twig' %}
    {% block body %}
        <form id="seccion{{ seccion.idSeccion }}" method="POST" action="{{ path('seccion_guardar') }}">
            <div class="col-md-2 col-md-offset-10 text-right"><a class="btn btn-info" href="{{ path('seccion_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a></div>
                <div class="clearfix capa-separador-1"></div>
                {% for pregunta in seccion.preguntas %}
                    {% if not pregunta.idPreguntaPadre %}
                        {% include 'pregunta/showAsForm.html.twig' with {'pregunta': pregunta, 'respuestas': respuestas} %}
                    {% endif %}
                {% endfor %}
                <div class="col-md-12 text-right">
                    <input type="hidden" name="idSeccion" value="{{ seccion.idSeccion }}">
                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-success">
                </div>
        </form>
    {% endblock %}