{% extends 'login.base.html.twig' %}

{% block body %}
<div class="ayuda-sistema">
    <a href="{{ asset('documentos/login.pdf') }}" target="_ventana">
        <span class="glyphicon glyphicon-info-sign"></span> Ayuda?
    </a>
</div>
<div class="header-control-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default control-panel control-panel-border">
                            <div class="panel-heading text-center fondo-1 text-color-1">
                                <h4 class="sin-margin"> 
                                    Bienvenido
                                </h4>
                                <h3 class="sin-margin">                                    
                                    Sistema de Acreditación
                                </h3>                                
                            </div>
                            <div class="panel-body">
                                {% if app.session.get('_security.last_error') %}
                                    <div class="col-md-12" id="warning-alert">
                                        <div class="alert alert-warning">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            <strong>Error! <br /></strong>
                                            Usuario o clave incorrectos.
                                        </div>
                                    </div>
                                {% endif %}
                                
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-login" id="form_validar_login">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="form-group">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user"></span>                                            
                                            </span>
                                            <input type="text" name="_username" value="{{ app.session.get('_security.last_username') }}" class="form-control" placeholder="Digite su usuario">
                                        </div>
                                        </div>
                                        <div class="capa-separador-1 clearfix"></div>
                                        <div class="form-group">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>                                            
                                            </span>
                                            <input type="password" name="_password" class="form-control" placeholder="Digite su clave">
                                        </div>
                                        </div>
                                        <div class="col-md-12 sin-padding text-center">
                                            <button type="submit" form="form_validar_login" value="Entrar" class="btn btn-info btn-md btn-block "><span class="glyphicon glyphicon-triangle-right"></span> Entrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}