{% extends 'login.base.html.twig' %}

{% block body %}

{% if app.session.get('_security.last_error') %}
    <div class="container" id="warning-alert">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Error! <br /></strong>
                    Usuario o clave incorrectos.
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="header-control-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default control-panel control-panel-border">
                            <div class="panel-heading text-center fondo-1 text-color-1">
                                <h4 class="sin-margin"> 
                                    Bienvenido
                                </h4>
                                <h3 class="sin-margin">                                    
                                    Sistema de Acreditación
                                </h3>                                
                            </div>
                            <div class="panel-body">
                                <!--Formulario-->
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-login" id="form_validar_login">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="form-group">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user"></span>                                            
                                            </span>
                                            <input type="text" name="_username" class="form-control" placeholder="Digite su usuario">
                                        </div>
                                        </div>
                                        <div class="capa-separador-1 clearfix"></div>
                                        <div class="form-group">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>                                            
                                            </span>
                                            <input type="password" name="_password" class="form-control" placeholder="Digite su clave">
                                        </div>
                                        </div>
                                        <div class="help-block text-right">
                                            <a href="{{ path('acreditacion_recovery') }}">
                                                ¿Olvidó su clave?
                                            </a>
                                        </div>                                                                        
                                        <div class="col-md-12 sin-padding text-center">
                                            <a href='#' onClick="$('form:first').submit();" class="btn btn-info btn-md btn-block ">
                                                <span class="glyphicon glyphicon-triangle-right"></span> Entrar
                                            </a>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Recordarme
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--Fin de fomulario-->                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
{% endblock %}