{% extends 'base.html.twig' %}

{% block body %}

    {% set tipoValido = true %}
    {% set colspanDescripcion = 1 %}
    {% set maxLength = "" %}
    {% set controlOpcionNoAplica = "" %}
    {% set codTipoPregunta = pregunta.idTipoPregunta.codTipoPregunta %}
    {% set id = codTipoPregunta ~ "_" ~ pregunta.idPregunta %}



    {% if pregunta.textoLongitudMaxima %}
        {% set maxLength = "maxlength=" ~ pregunta.textoLongitudMaxima %}
    {% endif %}

    {% if pregunta.opcionNoAplica %}
        {% set controlOpcionNoAplica = "<input type='checkbox' class='tipoPregunta" ~ codTipoPregunta ~ "NoAplica'
            id='" ~ codTipoPregunta ~ "NoAplica_" ~ pregunta.idPregunta ~ "'
            name='" ~ codTipoPregunta ~ "NoAplica_" ~ pregunta.idPregunta ~ "'>" ~ pregunta.opcionNoAplicaTexto %}
    {% endif %}



    {% if codTipoPregunta == 'TA' %}

        {% set controlPregunta = controlOpcionNoAplica ~
            "<textarea class='tipoPregunta" ~ codTipoPregunta ~ "' id='" ~ id ~ "' name='" ~ id ~ "' " ~ maxLength ~ "></textarea>" %}

    {% elseif codTipoPregunta == 'SN' %}

        {% set controlPregunta = "" %}
        {% set opciones = ['Sí', 'No', pregunta.opcionOtroTexto] %}

        {% for opcion in opciones %}
            {% if opcion %}
                {% set controlPregunta = controlPregunta ~
                    "<input type='radio' class='tipoPregunta" ~ codTipoPregunta ~ "' id='" ~ id ~ "' name='" ~ id ~ "'>" ~ opcion %}
            {% endif %}
        {% endfor %}

    {% elseif codTipoPregunta == 'CA' %}

        {% set controlPregunta =
            "<select class='tipoPregunta" ~ codTipoPregunta ~ "' id='" ~ id ~ "' name='" ~ id ~ "' " ~ maxLength ~ ">" %}
        {% for opcion in pregunta.idCatalogo.detallesCatalogo %}
            {% set controlPregunta = controlPregunta ~ "<option value='" ~ opcion.codDetalleCatalogo ~ "'>" ~ opcion.nbrDetalleCatalogo ~ "</option>" %}
        {% endfor %}
        {% if pregunta.opcionOtro %}
            {% set controlPregunta = controlPregunta ~ "<option value='" ~ pregunta.opcionOtroTexto ~ "'>" ~ pregunta.opcionOtroTexto ~ "</option>" %}
        {% endif %}
        {% set controlPregunta = controlPregunta ~ "</select>" %}

    {% else %}

        Tipo de pregunta {{ codTipoPregunta }} no definido.
        {% set tipoValido = false %}

    {% endif %}



    {% if tipoValido  %}

        <table border=1>
            <tbody>
                <tr>
                    <th colspan={{ colspanDescripcion }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {% autoescape false %}
                            {{ controlPregunta }}
                        {% endautoescape %}
                    </td>
                </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock %}
