<table border=1>
    <tbody>

        {% set columnaFija = null %}
        {% set encabezados = "" %}

        {% for subPregunta in pregunta.subPreguntas %}

            {% set encabezados = encabezados ~ '<th>' ~ subPregunta.descripcionPregunta ~ '</th>' %}
            {% if subPregunta.idTipoPregunta.codTipoPregunta == 'CF' %}
                {% set columnaFija = subPregunta %}
            {% endif %}

        {% endfor %}

        {% set filas = "" %}

        {% for opcionRespuesta in columnaFija.opcionesRespuesta %}

            {% set filas = filas ~ '<tr><th>' ~ opcionRespuesta.descripcionOpcionRespuesta ~ '</th>' %}
            {% for subPregunta in pregunta.subPreguntas %}
                {% if subPregunta.idTipoPregunta.codTipoPregunta != 'CF' %}
                    {% set filas = filas ~ '<td>' ~ opcionRespuesta.codOpcionRespuesta ~ ' (' ~ opcionRespuesta.descripcionOpcionRespuesta ~ ') - ' ~
                        subPregunta.idPregunta ~ ' (' ~ subPregunta.descripcionPregunta ~ ')</td>' %}
                {% endif %}
            {% endfor %}
            {% set filas = filas ~ '</tr>' %}

        {% endfor %}

        <tr>
            <th colspan={{ pregunta.subPreguntas|length }}>
                {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
            </th>
        </tr>
        <tr>
            {% autoescape false %}
                {{ encabezados }}
            {% endautoescape %}
        </tr>
        {% autoescape false %}
            {{ filas }}
        {% endautoescape %}
    </tbody>
</table>
