{% extends ':usuario:new.html.twig' %}
{% block titulo %}
    Editar un usuario
{% endblock %}
{% block guardar %}
    <div class="btn-group  btnk" role="group">
        <a class="btn btn-info btn-sm" href="{{ path('usuario_index') }}">
            <span class="glyphicon glyphicon-triangle-left"></span> 
            Regresar
        </a>
        <button type="submit" value="Modificar" class="btn btn-success btn-sm"/><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        <a data-toggle="confirmation" data-title="Seguro?" class="btn btn-danger btn-sm" href="{{ path('usuario_delete', { 'id': usuario.id }) }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
    </div>
{% endblock %}

