body{
    margin-top: 155px;
}

/*
--------------------------------------------------------------------------------
> Control de logo
--------------------------------------------------------------------------------
*/

.logo{
    float:left;
    width:180px;
    height:60px;
}
.logo-text{
    float:left;
    width:300px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-control {
    padding:  20px 0 4px;
    position: relative;
}
.header-control-login {
    padding: 35px 0;
    position: relative;
}
.header-control-page {
    padding: 30px 0;
    position: relative;
}
.header-control-general {
    padding: 10px 0;
    position: relative;
}
.header-control-footer {
    padding: 20px 0;
    position: relative;
}
.control-panel{
    margin: auto;
    max-width: 500px;
}
.control-panel-border{
    border-color: #244167 !important;
}

/*
--------------------------------------------------------------------------------
> Control de relleno
--------------------------------------------------------------------------------
*/
.sin-padding{
    padding: 0px;
}
.sin-padding-left{
    padding-left: 0px;
}
.sin-padding-right{
    padding-right: 0px;
}
.sin-padding-top{
    padding-top: 0px;
}
.sin-padding-bottom{
    padding-bottom: 0px;
}

/*
--------------------------------------------------------------------------------
> Control de margenes
--------------------------------------------------------------------------------
*/
.margin-auto{
    margin:auto;
}
.sin-margin{
    margin: 0px;
}
.sin-margin-left{
    margin-left: 0px;
}
.sin-margin-right{
    margin-right:0px;
}
.sin-margin-top{
    margin-top:0px;
}
.sin-margin-bottom{
    margin-bottom: 0px;
}

/*
--------------------------------------------------------------------------------
> Control de color
--------------------------------------------------------------------------------
*/
.fondo-1{
    background: #244167 !important;
    background-image: linear-gradient(to bottom, #244167 0px, #000039 100%) !important;
    background-repeat: repeat-x;
}
.fondo-2{
    background: #1d365f !important;
    /*background: #03162f !important;
    background-image: linear-gradient(to bottom, #244167 0px, #000039 100%) !important;
    background-repeat: repeat-x;*/
}


.text-color-1{
    color: #fff !important;
}
.text-color-2{
    color: #ccc !important;
}

/*
--------------------------------------------------------------------------------
> Control de color href
--------------------------------------------------------------------------------
*/
.href-color-1 a{
   color: #fff !important;
}

/*
--------------------------------------------------------------------------------
> Control separador
--------------------------------------------------------------------------------
*/
.capa-separador-1{
 height: 10px;
 clear:both;
}

/*
--------------------------------------------------------------------------------
> Form control
--------------------------------------------------------------------------------
*/
.form-login {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-registro {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
}

.form-border{
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    border-top:5px solid #ccc;
    border-bottom:5px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}



/*
--------------------------------------------------------------------------------
> Control de border
--------------------------------------------------------------------------------
*/
.sin-border{
    border: 0px;
}
.border-top{
    border-top: 1px dashed #ccc;
}
.border-bottom{
    border-bottom: 1px dashed #ccc;
}
.border-left{
    border-left: 1px dashed #ccc;
}
.border-right{
    border-right: 1px dashed #ccc;
}

/*
--------------------------------------------------------------------------------
> Control de menú
--------------------------------------------------------------------------------
*/
.open > ul > li a{
color:#204d74 !important;
}

/*
--------------------------------------------------------------------------------
> Control de sobre
--------------------------------------------------------------------------------
*/
.z-index-1{
    z-index:999999999999999999999;
}

/*
--------------------------------------------------------------------------------
> Control de footer
--------------------------------------------------------------------------------
*/
.capa-footer{

}

/*
--------------------------------------------------------------------------------
> Control de campos
--------------------------------------------------------------------------------
*/
.input-1{
    max-width: 75% !important;
}
.input-2{
    max-width: 50% !important;
}
.input-3{
    max-width: 25% !important;
}

/*
--------------------------------------------------------------------------------
> Control de tabla y celdas
--------------------------------------------------------------------------------
*/
.ctrol-tabla-1{
    max-width:75%;
}
.ctrol-tabla-2{
    max-width: 50%;
}
.ctrol-tabla-3{
    max-width: 25%;
}

.ctrol-celda-1{
    max-width: 75%;
}
.ctrol-celda-2{
    max-width: 50%;
}
.ctrol-celda-3{
    max-width: 50%;
}
.control-celda-num{
    max-width: 10px;
}

/*
--------------------------------------------------------------------------------
> Control de botones
--------------------------------------------------------------------------------
*/
.btn{
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.2) inset;
}

/*
--------------------------------------------------------------------------------
> Control de cuotas
--------------------------------------------------------------------------------
*/








/*
--------------------------------------------------------------------------------
> Control de dispositivos
--------------------------------------------------------------------------------
*/
.dispositivo-movil{
    display: none;
}
@media (max-width: 767px) {
    .logo{
        float:inherit !important;
        width:180px;
        height:60px;
        display: none;
    }
    .logo-text{
        float:inherit !important;
        width:100%;
        height:inherit !important;
        display: inherit !important;
        align-items: inherit !important;
        justify-content:inherit !important;
        text-align: center;
    }
    .logo-text h3{
        font-size: 20px;
    }
    
    
    /*Activo solo para dispositivos móviles y tablets*/    
    .dispositivo-movil {
        display: block;
    }
    
    /*Fondo de submenú */
    .open{
        background: #fff !important;
    }
    
  /*Control de campos*/
    .input-1{
        max-width:inherit !important;
    }
    .input-2{
        max-width:inherit !important;
    }
    .input-3{
        max-width:inherit !important;
    }
    /*Control de header page */
    .header-control-page {
        padding: 15px 0 !important;
        position: relative;
    }
    
    .header-control-page > .container > .col-md-8 h2{
        font-size: 24px !important;
    }
    
    
}

.revisar{
    background-color: red;
}
