<div class="form-group">                                
    <label for="annio">
        Año
    </label>
    <div class='input-group date input-1' id='fecha_annio'>
        <input type='text' id="anno" name="anno" class="form-control" placeholder="Digite el año"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>                               
</div>
