<div class="form-group">
    <label for="estado">
       Estado
    </label>
    <select class="form-control input-1" id="estado" name="estado">
        <option value="0">
            Seleccione uno
        </option>
        {% for estado in lista_estado_acred %}
            <option value="{{ estado.idEstadoAcreditacion }}">{{ estado.nbrEstadoAcreditacion }}</option>
        {% endfor %}
    </select>                                
</div>
