<div class="form-group">
    <label for="estado_acred">
        Estado
    </label>
    <select class="form-control input-1" id="estado_acred" name="estado_acred">
        <option>
            Seleccione uno
        </option>
        <option value="AC">Acreditados y acreditados con observaciones</option>
        <option value="VD">Vencidos</option>
        <option value="PV">Por vencer</option>
    </select>                                
</div>
