<div class="form-group">
    <label for="estado">
       Estado
    </label>
    <select class="form-control input-1" id="estado" name="estado">
        <option>
            Seleccione uno
        </option>
        <option value="acred">
            Acreditados
        </option>
        <option value="acred_obser">
            Acreditados con observaciones
        </option>
        <option value="no_acred">
            No acreditados
        </option>
    </select>                                
</div>
