<div class="form-group">
    <label for="fines">
       Fines
    </label>
    <select class="form-control input-1" id="fines" name="fines">
        <option>
            Seleccione un criterio
        </option>
        <option value="con-lucro">
            Con lucro
        </option>
        <option value="sin-lucro">
            Sin lucro
        </option>
    </select>                                
</div>
