<div class="form-group">
    <label for="fines">
        Modalidad
    </label>
    <select class="form-control input-1" id="fines" name="fines">
        <option value="">
            Seleccione un criterio
        </option>
        {% for modalidad in lista_modalidad %}
            <option value="{{ modalidad.idModalidadCentroEducativo }}">{{ modalidad.nbrModalidadCentroEducativo }}</option>
        {% endfor %}
    </select>
</div>
