<div class="form-group">
    <label for="formato">
       Formato
    </label>
    <select class="form-control input-1" id="formato" name="formato">
        <option value="pdf">
            Pdf
        </option>
        <option value="excel">
            Hoja de excel
        </option>
    </select>                                
</div>
