<div class="form-group">
    <label for="centrosEducativos">
        Ordenar
    </label>
    <select class="form-control input-1" id="centrosEducativo" name="centrosEducativo">
        <option value="asc">
            Ascendente
        </option>
        <option value="desc">
            Descendente
        </option>
    </select>                                
</div>
