{% extends 'base.html.twig' %}
{% block body %}

    <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Información general del centro educativo
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    
    <div class="col-md-12">
        <div class="header-control-general">
            <form class="form-registro form-border" method="post" action="{{path('reporte_general_cedu_generar')}}" target="_blank">
                <div class="col-sm-6">
                  {% include 'reportes/cedu.html.twig'%}
                </div>
                <div class="col-sm-6">
                    {% include 'reportes/formato.reporte.html.twig'%}
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-info btn-md"><span class="glyphicon glyphicon-th-list"></span> Generar</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>   
    
{% endblock %}
