<div class="form-group">
    <label for="t_reporte">
       Tipo de reporte
    </label>
    <select class="form-control input-1" id="t_reporte" name="t_reporte">
        <option>
            Seleccione uno
        </option>
        <option value="cuantitativo">
            Cuantitativo
        </option>
        <option value="cualitativo">
            Cualitativo
        </option>
    </select>                                
</div>
