<div class="form-group">
    <label for="t_reporte">
       Tipo de reporte
    </label>
    <select class="form-control input-1" id="t_reporte" name="t_reporte">
        {% if opciones is defined %}
            {% for opcion in opciones %}
                <option value="{{ opcion|replace({' ': '_'}) }}">{{ opcion|capitalize }}</option>
            {% endfor %}
        {% else %}
            <option value="cuantitativo">
                Cuantitativo
            </option>
            <option value="cualitativo">
                Cualitativo
            </option>
        {% endif %}
    </select>                                
</div>
