<div class="form-group">
    <label for="zona">
       Zona
    </label>
    <select class="form-control input-1" id="zona" name="zona">
        <option value="">
            Seleccione una
        </option>
        {% for zona in lista_zona %}
            <option value="{{ zona.idZonaCentroEducativo }}">{{ zona.nbrZonaCentroEducativo }}</option>
        {% endfor %}
    </select>                                
</div>
