<div class="form-group">
    <label for="zona">
       Zona
    </label>
    <select class="form-control input-1" id="zona" name="zona">
        <option>
            Seleccione una
        </option>
        <option value="urbana">
            Urbana
        </option>
        <option value="rural">
            Rural
        </option>
    </select>                                
</div>
